[Desktop Entry]
Type=Application
Exec=alacritty --hold -e bash /gry/Steam/steam/steam.sh -console -cef-disable-gpu
Hidden=false
X-MATE-Autostart-enabled=true
Name[pl_PL]=steam w konsoli
Name=steam in console
Comment[pl_PL]=
Comment=
